.row
  .col-md-12
    %br
      %table.table.table-striped.table-hover
        %tr
          %th ID
          %th Company

        - @carriers.each do |carrier|
          %tr(onclick="window.location='#{carrier_path(carrier.id)}'" )
            %td= carrier.id
            %td= link_to carrier.company_name,carrier_path(carrier.id)

= will_paginate @carriers
