.row
  .col-md-8
    %h2= @carrier.company_name
  .col-md-2.col-md-offset-2
    - if permitted_to? :edit, @carrier
      =link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_carrier_path(@carrier.id),:class => "btn btn-warning"
    - if permitted_to? :delete, @carrier
      =link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, carrier_path(@carrier.id),:method => :delete,:confirm => "Are you sure you want to delete #{@carrier.company_name}",:class => "btn btn-danger"
%ul.nav.nav-tabs#tabs{role: "tablist"}
  %li.active
    %a{"data-toggle" => "tab", href: "#user", role: "tab"} Carrier
  %li
    %a{"data-toggle" => "tab", href: "#contacts", role: "tab"} Contacts
.tab-content
  #user.tab-pane.active
    .row
      %h4
        Carrier Info
    .row
      .col-md-6
        %p
          = "Company Name: #{@carrier.company_name}"
  #contacts.tab-pane
    .row
      .col-md-3
        %h2 Contacts
      .col-md-2.col-md-offset-7
        =link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe,new_contact_path(:item_id => @carrier.id,:item_type => @carrier.class),:class => "btn btn-success"

    - @carrier.contacts.each do |contact|
      = render :partial => "contacts/show",:locals => {:contact => contact}