= simple_form_for @vendor_question do |f|
 = f.input :question,:required => true,:input_html => {:rows => 1 }
 = f.input :question_type,:as => :select, :collection => VendorQuestion::TYPES.map{|k,v| [k.to_s,v]},:required => true
 = f.input :section,:as => :select,:collection => VendorQuestion::SECTIONS,:required => true
 = f.input :options,:hint => "Enter comma separated values for Multiple choice question"
 = f.submit