.row
  .col-md-4.col-md-offset-10
    - if permitted_to? :new,:vendor_questions
      = link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe, new_vendor_question_path,:class => "btn btn-success"
%ul.nav.nav-tabs#tabs{role: "tablist"}
  %li.active
    %a{"data-toggle" => "tab", href: "#general_information", role: "tab"} General Information
  %li
    %a{"data-toggle" => "tab", href: "#logistics", role: "tab"} Logistics
.tab-content
  #general_information.tab-pane.active.sortable
    .row
      .col-md-12
        %br
          %table.table.table-striped.table-hover#sortable
            %tr
              %th ID
              %th Question
              %th Type
              %th
            - @general_information.each do |question|
              %tr(data-id="#{question.id}")
                %td= question.id
                %td= link_to truncate(question.question,:length => 45), edit_vendor_question_path(question.id)
                %td= question.question_type
                %td= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe,vendor_question_path(:id => question.id),:method => :delete,:confirm => "Are you sure you want to delete this question?",:class => "btn btn-danger"
  #logistics.tab-pane.sortable
    .row
      .col-md-12
        %br
          %table.table.table-striped.table-hover#sortable
            %tr
              %th ID
              %th Question
              %th Type
              %th
            - @logistics.each do |question|
              %tr(data-id="#{question.id}")
                %td= question.id
                %td= link_to truncate(question.question,:length => 45), edit_vendor_question_path(question.id)
                %td= question.question_type
                %td= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe,vendor_question_path(:id => question.id),:method => :delete,:confirm => "Are you sure you want to delete this question?",:class => "btn btn-danger"
:javascript
  $(function() {
      var fixHelper = function(e, ui) {
      	ui.children().each(function() {
      		$(this).width($(this).width());
      	});
      	return ui;
      };
      function positionUpdated(e,ui){
        $.ajax({
          type: "PUT",
          contentType: "application/json; charset=utf-8",
          url:"#{sort_vendor_questions_path}",
          data: JSON.stringify({id:ui.item.data("id"),position:ui.item.index()}),
          dataType: "json"
        });
      };
      $(".sortable tbody").sortable({
      	helper: fixHelper,
        update: positionUpdated
      }).disableSelection();
    });