%h2
  = "Welcome #{@user.name} to Amazon on boarding tool"

%p
  = "#{@user.invited_by.name} Has invited you to become an #{@user.roles.first}"
  = link_to "Accept Invitation",@invitation_link
%p
  = @message

