%h2= "Edit User"
= simple_form_for @user, :url => user_path(@user) do |f|
  = f.input "email"
  - if current_user.admin? and !(@user.carrier? or @user.vendor?)
    = f.input :roles, :as => :select , :collection => User::AMAZON_ROLES
  = f.submit "Save", :class => "btn btn-success"
  = link_to "Cancel",user_path(@user.id), :class => "btn btn-default"