.row
  .col-md-12
    %br
      %table.table.table-striped.table-hover
        %tr
          %th ID
          %th name
          %th email
          %th role

        - @users.each do |user|
          %tr(onclick="window.location='#{user_path(user.id)}'" )
            %td= user.id
            %td= link_to user.name,user_path(user.id)
            %td= user.email
            - if user.vendor? and user.vendor.present?
              %td= link_to "#{User::ALL_ROLES.key(user.roles.first)}", vendor_path(user.vendor.id)
            - elsif user.carrier? and user.carrier.present?
              %td= link_to "#{User::ALL_ROLES.key(user.roles.first)}", carrier_path(user.carrier.id)
            -else
              %td= User::ALL_ROLES.key(user.roles.first)

= will_paginate @users
