
.row
  .col-md-2.col-md-offset-10
    - if permitted_to? :edit, @user
      =link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_user_path(@user.id),:class => "btn btn-warning"
    - if permitted_to? :delete, @user
      = link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe,user_path(:id => @user.id),:method => :delete,:confirm => "Are you sure you want to delete this User ?",:class => "btn btn-danger"


/ Nav tabs
%ul.nav.nav-tabs#tabs{role: "tablist"}
  %li.active
    %a{"data-toggle" => "tab", href: "#user", role: "tab"} User
  %li
    %a{"data-toggle" => "tab", href: "#uploaded_files", role: "tab"} Files Uploaded
  - if @user.managed_vendors.any?
    %li
      %a{"data-toggle" => "tab", href: "#managed_vendors", role: "tab"} Managed Vendors
  - if @user.has_admin_role?
    %li
      %a{"data-toggle" => "tab", href: "#invited_users", role: "tab"} Invited Users
/ Tab panes
.tab-content
  #user.tab-pane.active
    .row
      .col-md-6
        %h4
          User Info
        %p
          = "User Name: #{@user.name}"
        %p
          = "Email: #{@user.email}"
      .col-md-6
        %h4
          Role
        %p= "Role: #{@user.roles.first}"
        - if @user.carrier? and @user.carrier.present?
          %p
            = "Carrier:"
            = link_to "#{@user.carrier.company_name}", carrier_path(@user.carrier.id)
        - elsif @user.vendor? and @user.vendor.present?
          %p
          = "Vendor: "
          =link_to "#{@user.vendor.company_name}", vendor_path(@user.vendor.id)

  #uploaded_files.tab-pane
    %ul
    - @user.uploaded_files.each do |uploaded_file|
      %li
        = link_to uploaded_file.blob_file_name,uploaded_file.blob.url,:target => "_blank"
  - if @user.managed_vendors.any?
    #managed_vendors.tab-pane
      %ul
        - @user.managed_vendors.each do |vendor|
          %li
            = link_to vendor.company_name,vendor_path(vendor.id),:target => "_blank"
  - if @user.has_admin_role?
    #invited_users.tab-pane
      %ul
        - @user.invited_users.each do |invited_user|
          %li
            = link_to invited_user.name,user_path(invited_user.id),:target => "_blank"