.row
  .col-md-8
    %h2 Uploaded Vendor files
  .col-md-4
    = link_to "Upload files to Vendors",new_uploaded_file_path,:class => "btn btn-success"

-@vendor_files.each do |uploaded_file|
  .row
    .col-md-4
      = link_to uploaded_file.blob_file_name,uploaded_file.blob.url,:target => "_blank"
    .col-md-8
      = link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe,uploaded_file_path(:id => uploaded_file.id),:method => :delete,:confirm => "Are you sure you want to delete this file?",:class => "btn btn-danger"
