#uploader
:javascript
  $(function() {
        $("#uploader").pluploadQueue({
            // General settings
            runtimes : 'html5,flash,silverlight,html4',
            url :"#{uploaded_files_path(:is_for_vendor => true)}",
            chunk_size: '1mb',
            //rename : true,
            dragdrop: true,

            filters : {
                // Maximum file size
                max_file_size : '5mb',
                // Specify what files to browse for
                mime_types: [
                    {title : "Image files", extensions : "jpg,gif,png"},
                    {title : "Doc files", extensions : "doc,docx,txt,pdf"}
                ]
            },

            //unique_names : true,
            multipart_params: {
                '#{request_forgery_protection_token}': '#{form_authenticity_token}',
                '#{request.session_options[:key]}': '#{request.session_options[:id]}',
            },
            flash_swf_url : '/plupload/Moxie.swf',
            silverlight_xap_url : '/plupload/Moxie.xap'
        });

        $('#uploader').pluploadQueue().bind('FileUploaded', function(up, file, response) {
            if (up.total.uploaded == up.files.length){
                location.reload();
            }
        });
    });