= simple_form_for @contact do |f|
  = f.input :name,:required => true
  = f.input :email,:as => :email,:required => true
  = f.input :phone
  = f.input :role
  - if @contact.new_record?
    = f.input :item_type,:as => :hidden
    = f.input :item_id  ,:as => :hidden
  = f.submit "Save",:class =>"btn btn-success"