.row.contact
  .col-md-8
    %p
      = "Name: #{contact.name}"
    %p
      = "Email: #{contact.email}"
    %p
      = "Phone: #{contact.phone}"
    %p
      = "Role: #{contact.role}"
  .col-md-2.col-md-offset-2
    - if permitted_to? :edit, contact
      =link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe,edit_contact_path(:id => contact.id),:class => "btn btn-warning"
    - if permitted_to? :delete, contact
      = link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe,contact_path(:id => contact.id),:method => :delete,:confirm => "Are you sure you want to delete this contact ?",:class => "btn btn-danger"