.row
  %h2 Invitation Messages
.row.invitation-message
  %h4 Admin
  - if @admin_message
    .col-md-10
      = truncate(@admin_message.message,:length => 70)
    .col-md-2
      = link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_invitation_message_path(@admin_message.id),:class => "btn btn-warning"
  -else
    .col-md-2.col-md-offset-10
      = link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe, new_invitation_message_path(:type => "admin"),:class => "btn btn-success"
.row.invitation-message
  %h4 External Integration
  - if @external_integration_message
    .col-md-10
      = truncate(@external_integration_message.message,:length => 70)
    .col-md-2
      = link_to "Edit", edit_invitation_message_path(@external_integration_message.id),:class => "btn btn-warning"
  -else
    .col-md-2.col-md-offset-10
      = link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe, new_invitation_message_path(:type => "external_integration"),:class => "btn btn-success"
.row.invitation-message
  %h4 Vendor Manager
  - if @vendor_manager_message
    .col-md-10
      = truncate(@vendor_manager_message.message,:length => 70)
    .col-md-2
      = link_to "Edit", edit_invitation_message_path(@vendor_manager_message.id),:class => "btn btn-warning"
  -else
    .col-md-2.col-md-offset-10
      = link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe, new_invitation_message_path(:type => "vendor_manager"),:class => "btn btn-success"
.row.invitation-message
  %h4 Vendor
  - if @vendor_message
    .col-md-10
      = truncate(@vendor_message.message,:length => 70)
    .col-md-2
      = link_to "Edit", edit_invitation_message_path(@vendor_message.id),:class => "btn btn-warning"
  -else
    .col-md-2.col-md-offset-10
      = link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe, new_invitation_message_path(:type => "vendor"),:class => "btn btn-success"
.row.invitation-message
  %h4 Carrier
  - if @carrier_message
    .col-md-10
      = truncate(@carrier_message.message,:length => 70)
    .col-md-2
      = link_to "Edit", edit_invitation_message_path(@carrier_message.id),:class => "btn btn-warning"
  -else
    .col-md-2.col-md-offset-10
      = link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe, new_invitation_message_path(:type => "carrier"),:class => "btn btn-success"