%h2= t 'devise.invitations.edit.header'
= simple_form_for @user, :url => invitation_path(@user), :html => { :method => :put } do |f|
  = devise_error_messages!
  = f.hidden_field :invitation_token
  = f.input :password,:required => true
  = f.input :password_confirmation,:required => true
  = f.input :name,:required => true
  = f.submit t("devise.invitations.edit.submit_button")