- admin_message = @invitation_messages.detect{|m| m.message_type.eql?("admin")}
- vendor_manager_message = @invitation_messages.detect{|m| m.message_type.eql?("vendor_manager")}
- external_integration_message = @invitation_messages.detect{|m| m.message_type.eql?("external_integration")}
%h2= t "devise.invitations.new.header"
= simple_form_for @user, :url => invitation_path(@user), :html => {:method => :post} do |f|
  = devise_error_messages!
  = f.input "email"
  - if permitted_to? :invite, :users
    = f.input :roles, :as => :select , :collection => User::AMAZON_ROLES,:required => true
  .control-group
    .contro-label
      = label_tag :message,"Message"
    .controls
      = text_area_tag :message, @message,:rows => 4,:cols => 50
  = f.submit t("devise.invitations.new.submit_button")

:javascript
  $('#user_roles').change(function(){
    if($(this).val() === 'admin'){
       $('#message').val("#{admin_message ? admin_message.message : ''}");
    }
    else if($(this).val() === 'vendor_manager'){
       $('#message').val("#{vendor_manager_message ? vendor_manager_message.message : ''}");
    }
    else if($(this).val() === 'external_integration'){
      $('#message').val("#{external_integration_message ? external_integration_message.message : ''}");
    }
  });