%h2= t "devise.invitations.new.header"
= simple_form_for @user, :url => invitation_path(@user), :html => {:method => :post} do |f|
  = devise_error_messages!
  = f.input "email"
  = f.input :roles, :as => :hidden
  = f.simple_fields_for :carrier do |carrier|
    = carrier.input :company_name, :required => true
  .control-group
    .contro-label
      = label_tag :message,"Message"
    .controls
      = text_area_tag :message, @invitation_message,:rows => 4,:cols => 50
  = f.submit t("devise.invitations.new.submit_button")
