/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-editable";

.red {
  color: red;
}

.blue{
  color: blue;
}

.radio_buttons, input {
  margin-right:5px !important;
}

label , .radio , .inline{
  margin-right:15px !important;
}

.check_boxes, input {
  margin-right:5px !important;
}

label , .check_box , .inline{
  margin-right:15px !important;
}



.warehouse {
  background-color: whitesmoke;
  margin-top:10px;
  margin-bottom:10px;
}
.contact{
  background-color: whitesmoke;
  margin-top:10px;
  margin-bottom:10px;
}
.invitation-message{
  background-color: whitesmoke;
  margin-top:10px;
  margin-bottom:10px;
}
