// Place all the styles related to the vendors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.question-box{
  border-bottom: dashed;
  border-width: 1px;
  margin: 20px;
}
.question {
  margin-bottom: 10px;
}
.answer {
  margin-bottom: 10px;
}

.vendor-search-form{
  margin-left:15px;
}

