=simple_form_for @warehouse do |f|
  .row
    .col-md-6
      %h3 Info
      = f.input :name,:required => true
      = f.input :street,:required => true
      = f.input :postcode,:required => true
      = f.input :city,:required => true
      = f.input :country,:required => true,collection: [ "Deutschland", "France", "United Kingdom","Spain"]
      = f.input :phone,:required => true
      = f.input :vendor_id,:as => :hidden,:value => @vendor.id
    .col-md-6
      %h3 Warehouse Details
      = f.input :ship_label_generation,:as => :check_boxes, collection: WarehouseChoices['ship_label_generation'],:label => "Which system do you use today to generate Ship Labels?"
      = text_field_tag :other_text,@warehouse.other_value
      = f.input :pickup_trucks,:as => :check_boxes, collection: WarehouseChoices['pickup_trucks'],:label => "Which kind of trucks are able to pick up at the warehouse?"
      = f.input :remarks,:as => :check_boxes, collection: WarehouseChoices['remarks'],:label => "Are there any other things remarkable?"
      = f.input :height_of_ramps
  = f.submit "Save",:class => "btn btn-success"
  = link_to "Cancel", vendor_path(:id => @vendor.id),:class => "btn btn-default"


:javascript

  $(function()
  {

    var $ship_label_other = $('#warehouse_ship_label_generation_other');
    var $ship_label_other_text = $('#other_text');

    $ship_label_other.val($ship_label_other_text.val());

    if($ship_label_other_text.val())
    {
      $ship_label_other_text.show();
      $ship_label_other.prop('checked','checked');
    }
    else
    {
      $ship_label_other_text.hide();
    }


    $ship_label_other.change(function()
    {
      if($(this).prop('checked')){
       $ship_label_other_text.show();
      }
      else{
         $ship_label_other_text.hide();
         $ship_label_other.val('');
         $ship_label_other_text.val('');
      }
    });

    $ship_label_other_text.change(function()
    {
      $ship_label_other.val($(this).val());
    });

  });