
.row
  .col-md-3.col-md-offset-10
    - if permitted_to? :edit, warehouse
      = link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_warehouse_path(:id => warehouse.id),:class => "btn btn-warning"
    - if permitted_to? :delete, warehouse
      = link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, warehouse_path(:id => warehouse.id),:method => :delete,:confirm => "Are you sure you want to delete #{warehouse.name} ?",:class => "btn btn-danger"

.row
  .col-md-6
    %h3 Info
    %p
      = "Name: #{warehouse.name}"
    %p
      = "Street: #{warehouse.street}"
    %p
      = "Postcode: #{warehouse.postcode}"
    %p
      = "City: #{warehouse.city}"
    %p
      = "Country: #{warehouse.country}"
    %p
      = "Phone: #{warehouse.phone}"
  .col-md-6
    %h3 Details
    %p

      = "Which system used today to generate Ship Labels:"
      %br
      %b
        =  warehouse[:ship_label_generation]
    %p
      = "Which kind of trucks are able to pick up at the warehouse:"
      %br
      %b
        = warehouse[:pickup_trucks]
    %p
      = "Other Remarks:"
      %br
      %b
        = warehouse[:remarks]
    %p
      = "Height of ramps:"
      %br
      %b
        = warehouse.height_of_ramps